<div class ="order-movies">
  <div class = "lista-pelis">
  
    {{#each listMovies}}
     <ol>
      <img src="{{image}}" alt="movie">
     
  <h4>{{title}}</h4>
      <a href="/movie/{{this._id}}"><h5>see more</h5> </a>
      </ol>
    {{/each}}
  
   </div>

</div>