body {

  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  

}

a {
  color: #00B7FF;
}

h1{
  font-size: 60px;
  color:white;
  padding-bottom: -30px;
}
#check{
  width: 200px;
  height: 35px;
  border-radius: 20px;
  font-size: 15px;
}
#cinema{
  background-image:url(/images/cinema.jpg) ;
  background-repeat:no-repeat;
display: flex;
justify-content: center;
align-items: end;
flex-direction: column;

}
.order-movies{
  display: flex;
 
  flex-direction: row;
  justify-content: start;

  
  


}
.lista-pelis{
  display: flex;
  flex-direction: row;
  justify-content: start;

}